<div class="sm:w-1/2 mb-10 px-4">
    <div class="rounded-lg h-64 overflow-hidden">
        {{image}}
    </div>
    <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">{{title}}</h2>
    <div class="leading-relaxed text-base">{{body}}</div>
    <a class="w-32 block mt-6 text-white text-center bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded mx-auto" href="{{btn_url}}">{{btn_title}}</a>
</div>